<br>
<body  style="background-color:rgb(75, 75, 156)" >
  <form>
      <div id="ig" class="jumbotron text-center">
          <h1> Trade Smart, Earn Smart !!</h1>
          <br><br>
          
          <p class="lead"></p>
          <div >
            <a id="reg" class="btn btn-info " [routerLink]="['/register']">Register</a>
          </div>
          <br><br>
          <div>
            <a id="reg1" class="btn btn-info" [routerLink]="['/login']">Login</a>
          </div>
            
         
        </div>
  </form>
    
</body>


