.btn btn-primary{
    font-size: 30;
}
#reg{
    width: 200px;
    background-color: black;
}
#reg1{
    width: 200px;
    background-color: black;
}
#ig{
   
    background-color: rgb(173, 180, 179);
}
